<h1 align ="center"> Welcome <%= @user.name %>
	<div class ="row">
		<div class ="col-md-4 col-md-offset-4 center">
			<%= gravatar_for @user, size: 150 %>
		</div>
	</div>
	<h4 align = "center"><%= @user.name %>'s expenses</h4>
	<p align = "center"><%= link_to "Add an expense",new_expense_path, class: "btn btn-xs btn-primary" %></p>