$navbar-default-bg: #338433 ;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
	float : left;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	color: #000;

}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.center {
	text-align: center;
	align-content: center;
	margin-left: 18%
}

.jumbotron
{
	align-content:  center;
	background-image: asset-url('imh.jpeg');
	/*background-size: cover;*/
	background-repeat: false;
	width : 60%;
}

.jumbotron h1 {
	font-weight: bold;
}

.btn-color{
	background-color: #4CAF50;
	border-color: #4CAF50;
	border-radius: 50px;
	color: #e5e8e6;
	font-weight: bold;
	font-size: 1.7em;
}
.hovering:hover {
	background-color: #424443;
	border-color: #4CAF50;
	border:1px;
	color: #4CAF50;
	font-weight: bold;
	font-size: 1.7em;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}
.article-actions {
   border-top: 1px solid #eaeaea;
   padding-top: 5px;

}

.tdname,.tdamt {
  border-bottom: 1px solid #ddd;
  padding:10px 50px 5px 50px;
}
.tddel,.tdedit{
	 border-bottom: 1px solid #ddd;
  padding-left: 5px;
}
.total
{
	font-weight: bold;
	font-size: 1.7em;
}
.headingrow,.headdef{
	background-color: green;
	padding:10px 50px 5px 50px;
	 font-weight: bold;
}

#exptable
{
   font-family: Rockwell Extra Bold,Rockwell Bold,monospace;
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.listing {
  list-style: none;
  padding-left: 0;
}
#navi
{
 color: black;
 font-size: 1.5em;
}
.category-title {
  font-weight: bold;
  font-size: 1.5em;
}
a
{
	color: #000;
}
#navi:hover {
	font-weight: bold;
}
#exptable tr:nth-child(even){background-color: #f2f2f2;}

#exptable tr:hover {background-color: #ddd;}
.nav.navbar-nav.navbar-right li a {
    color: black;
}
.btn {
	font-weight: bold;
}
