<%= render 'expense', obj: @expenses %>
  
  <div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   </div>

  
      
  

<script>
     $('#the_category').click(function(){
        event.preventDefault();
     $("#modal-window").html("<%= escape_javascript(render 'expenses/new_category') %>");
     $('#modal-window').modal('show');
    });
</script>
