<h1>Showing selected expense</h1>
<p> Expense name: <%= @expense.expense_name %></p>
<p> Amount spent: <%= @expense.amount %></p>
<p> Date: <%= @expense.date %></p>
<%= link_to "Back", expenses_path %> 
